<h1><%=@cocktail.name%></h1>
<p>Ingredients</p>
<% @doses.each do |dose| %>
  <div class="card">
      <div class="row card-body">
        <div class="col-4">
          <p><strong><%=dose.ingredient.name %></strong></p>
          <p><%=dose.description %></p>
        </div>
        <div class="col-4">
          <p><%= link_to 'Delete dose', dose_path(dose), method: :delete, data: {confirm: "Are you sure ?"} %></p>
        </div>
      </div>
  </div>
<% end %>

<div class="btn btn-primary">
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
</DIV>

<%= link_to 'Go back to list of cocktails', '/cocktails' %>

